*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #5a5034;
}

h1{
    color: white;
    font-family: sans-serif;
    margin-top: 45vh;
}

.anchorBack{
    color: black;
    text-decoration: none;
}


.btn-purchase{
    width: 30vh;
    height: 10vh;
    cursor: pointer;
    display: inline-block;
    margin-top: 5%;
    transition: 0.5s;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-purchase:hover{
    transition: 0.5s;
    border-style: solid;
    border-color: #eeeeee;
    background: transparent;
    font-weight: lighter;
    color: white;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #714242;
}
